<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAB1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Курсова робота</span>
        <nav> <p>Юзвак Дмитро</p></nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>ІПЗ-22-1</p>
    </footer>
</body>
</html>
