<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAB1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo-container">
            <span class="logo">Мангачит</span>
            <p class="logoa1">Читай мангу українською</p>
        </div>
        <nav>
            <a class="button" href="/">Головна</a>
            <a class="button" href="/Mangas">Каталог</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>ІПЗ-22-1</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
