@model LAB1.Models.Manga

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Manga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Tags</label><br />
                @foreach (var tag in ViewBag.Tags as List<LAB1.Models.Tag>)
                {
                    bool isChecked = ViewBag.SelectedTags.Contains(tag.Id);
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="selectedTags" value="@tag.Id" class="form-check-input" @(isChecked ? "checked" : "") />
                        <label class="form-check-label">@tag.Name</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Автор</label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors">
                    <option value="">Оберіть автора</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IllustratorId" class="control-label">Ілюстратор</label>
                <select asp-for="IllustratorId" class="form-control" asp-items="ViewBag.Illustrators">
                    <option value="">Оберіть ілюстратора</option>
                </select>
                <span asp-validation-for="IllustratorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volumes" class="control-label"></label>
                <input asp-for="Volumes" class="form-control" />
                <span asp-validation-for="Volumes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapters" class="control-label"></label>
                <input asp-for="Chapters" class="form-control" />
                <span asp-validation-for="Chapters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverUrl" class="control-label"></label>
                <input asp-for="CoverUrl" class="form-control" />
                <span asp-validation-for="CoverUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="Status" class="form-check-input" type="checkbox" id="statusCheckbox" />
                <label asp-for="Status" class="form-check-label" for="statusCheckbox">Статус (Завершено)</label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
