@model UserProfileViewModel

<h2>Особиста сторінка користувача</h2>

<div>
    <h3>Ім'я користувача: @Model.UserName</h3>
    <p>Електронна пошта: @Model.Email</p>
    <span>Ролі: @Model.Roles</span>
</div>